.listItemSong {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-width: 300px;
    padding: 16px;
    margin-bottom: 2px;
    border-bottom: 1px solid black;
}

.listItemSong:last-child {
    border-bottom: none;
}

.listItemSong img {
    height: 50px;
}

.mediaInfo {
    display: flex;
    gap: 10px;
}

.songArtist {
    font-weight: bold;
    font-size: 15px;
}

.mediaInfoText {
    display: flex;
    flex-direction: column;
}

.mediaInfo p {
    margin: 0;
}

.artistName {
    font-weight: bold;
    font-size: 14px;
}