.currentSong {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #f9f9f9, #eeeeee); /* Very light grey gradient */
}

.currentSong img {
    height: 300px;
}

.addInfoLike {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.MediaInfoText p {
    margin: 0px;
}

.text-center {
    text-align: center;
}

.songArtist {
    font-weight: bold;
    text-align: ce;
}

.playControls {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.timeline {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-bar {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    height: 5px;
    background: black;
}

.timeline-bar-inner {
    width: 25%;
    background-color: rgb(219, 29, 29);
    height: 5px;
}